.prizes-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 16px 0;

	div {
		text-align: center;

		h3 {
			margin: 0;
			font-size: 2rem;
			color: #aa8e25;
		}
	}
}

.container {
	.panel {
		.expl-container {
			.tech-container {
				.buttons {
					display: flex;
					border-radius: 3px;
					overflow: hidden;
					h4 {
						display: block;
						flex: 1 1 0;
						color: $textColor;
						text-decoration: none;
						background-color: #f2e7bf;
						padding: 8px;
						text-align: center;
						font-weight: bold;
					}
				}
			}
		}
	}
}
